Source: cs-cf-worker-bouncer
Maintainer: Crowdsec Team <debian@crowdsec.net>
Build-Depends: debhelper
Section: admin
Priority: optional

Package: cs-cf-worker-bouncer
Provides: cs-cf-worker-bouncer
Depends: gettext-base
Description: Cloudflare-worker bouncer for Crowdsec
Architecture: any
